In [1]:
import pandas as pd # pd is the alias name here

How to create a series object from a list

In [2]:
my_list = ['a','b','c','d','e']

print(type(my_list))

<class 'list'>

In [3]:
first_series = pd.Series(my_list)

In [4]:
print(first_series)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [5]:
labels = ["Vaishali", "Sandeep", "Vignesh", "Srimuki"]

emp_id_list = [101,102,103,104]

emp_series = pd.Series(data = emp_id_list)

In [6]:
emp_series

0    101
1    102
2    103
3    104
dtype: int64

In [7]:
emp_series_with_label = pd.Series(data = emp_id_list , index = labels)

emp_series_with_label

Vaishali    101
Sandeep     102
Vignesh     103
Srimuki     104
dtype: int64

In [8]:
# how to create series from a numpy array?
import numpy as np

num_array = np.array([1,2,3,4,5,6])

In [10]:
num_series = pd.Series(num_array)

print(num_series)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

How to create series from a dictionary

In [11]:
dict_fruit_quant = {"Bananas": 100, "Avacados": 50 , "Mangoes" : 200}

series_fruit_quant = pd.Series(dict_fruit_quant)
series_fruit_quant

Bananas     100
Avacados     50
Mangoes     200
dtype: int64

In [13]:
print("The number of dimensions in a series object is :")
series_fruit_quant.ndim

The number of dimensions in a series object is :

1

In [14]:
series_fruit_quant[0] #using the index

100

In [15]:
series_fruit_quant["Bananas"]

100

How to select values in Series objects? 

-- iloc - index location -- uses indices

-- loc  - location -- uses labels

In [16]:
series_fruit_quant

Bananas     100
Avacados     50
Mangoes     200
dtype: int64

In [17]:
series_fruit_quant.iloc[1] # only square braces to be used

50

In [18]:
series_fruit_quant.loc[1] # 1 is not a label in series_fruit_quant variable, hence we are getting an error

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [19]:
series_fruit_quant.loc["Mangoes"]

200

In [20]:
first_series

0    a
1    b
2    c
3    d
4    e
dtype: object

In [21]:
first_series.loc[2] # here , it doesn't throw an error because 2 is a label in first_series variable

'c'

In [22]:
first_series.loc[4]

'e'

In [26]:
first_series.iloc[4]

'e'

Vectorising operation in Series

In [29]:
first_series = pd.Series([1,2,3,4], index = ['a','b','c','d'])
second_series = pd.Series([10,20,30,40], index =['a','b','c','d'])

first_series + second_series

a    11
b    22
c    33
d    44
dtype: int64

In [30]:
first_series = pd.Series([1,2,3,4], index = ['a','b','c','d'])
second_series2 = pd.Series([10,20,30,40], index =['a','c','b','d'])

first_series + second_series2

a    11
b    32
c    23
d    44
dtype: int64

In [31]:
first_series = pd.Series([1,2,3,4], index = ['a','b','c','d'])
second_series3 = pd.Series([10,20,30,40], index =['a','c','e','f'])

first_series + second_series3

a    11.0
b     NaN
c    23.0
d     NaN
e     NaN
f     NaN
dtype: float64

# Dataframes in Pandas

In [32]:
olympic_data_list = {"HostCity" : ["Tokyo","London","Beijing","Athens","Sydney","Atlanta"],
                    "Year":[2021,2012,2008,2004,2000,1996],
                    "No. Of Participating Countries":[202,205,204,201,200,197]}
print(olympic_data_list)

{'HostCity': ['Tokyo', 'London', 'Beijing', 'Athens', 'Sydney', 'Atlanta'], 'Year': [2021, 2012, 2008, 2004, 2000, 1996], 'No. Of Participating Countries': [202, 205, 204, 201, 200, 197]}

How to create a dataframe from a dictionary?

In [34]:
olympic_df = pd.DataFrame(olympic_data_list)

In [35]:
olympic_df  # below is just a view of a dataframe

  HostCity  Year  No. Of Participating Countries
0    Tokyo  2021                             202
1   London  2012                             205
2  Beijing  2008                             204
3   Athens  2004                             201
4   Sydney  2000                             200
5  Atlanta  1996                             197

the 2 dimensional labelled datastructure of pandas is called a dataframe. every column in a dataframe is a series object

In [36]:
 print(type(olympic_df))

<class 'pandas.core.frame.DataFrame'>

In [37]:
olympic_df["Year"]

0    2021
1    2012
2    2008
3    2004
4    2000
5    1996
Name: Year, dtype: int64

In [38]:
print(type(olympic_df["Year"]))

<class 'pandas.core.series.Series'>

How to select values that are present in a dataframe ?

In [39]:
olympic_df["Year"]

0    2021
1    2012
2    2008
3    2004
4    2000
5    1996
Name: Year, dtype: int64

In [40]:
olympic_df.Year # mind that you give the column name as it is, because this is case sensitive

0    2021
1    2012
2    2008
3    2004
4    2000
5    1996
Name: Year, dtype: int64

In [41]:
cols_list = ["Year" ,"HostCity" ]

olympic_df[cols_list]

   Year HostCity
0  2021    Tokyo
1  2012   London
2  2008  Beijing
3  2004   Athens
4  2000   Sydney
5  1996  Atlanta

In [42]:
olympic_df[["Year" ,"HostCity" ]]

   Year HostCity
0  2021    Tokyo
1  2012   London
2  2008  Beijing
3  2004   Athens
4  2000   Sydney
5  1996  Atlanta

use of loc & iloc in a dataframe

In [43]:
olympic_df

  HostCity  Year  No. Of Participating Countries
0    Tokyo  2021                             202
1   London  2012                             205
2  Beijing  2008                             204
3   Athens  2004                             201
4   Sydney  2000                             200
5  Atlanta  1996                             197

In [44]:
olympic_df.iloc[0:2, 0:2] # the first value represents the rows
# the second value represents the columns

# and the start and stop indexing concept applies here (i.e) start value is always inclusive &
# the stop value is exclusive

  HostCity  Year
0    Tokyo  2021
1   London  2012

In [49]:
olympic_df.iloc[0::2, 0:2]

  HostCity  Year
0    Tokyo  2021
2  Beijing  2008
4   Sydney  2000

In [45]:
olympic_df.loc[0:2, 0:2] # this throws an error because 0:2 is not a valid column label

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [48]:
olympic_df.loc[[0,1], ["HostCity","Year"]]

  HostCity  Year
0    Tokyo  2021
1   London  2012

# Attributes of Dataframe

<ul>
<li>dtypes</li>
<li>columns</li>
<li>shape</li>
<li>axes</li>
<li>size</li>
<li>ndim</li>
<li>T</li>

</ul>

In [51]:
olympic_df.columns # this presents the list of all the columns of the dataframe

Index(['HostCity', 'Year', 'No. Of Participating Countries'], dtype='object')

In [52]:
olympic_df.dtypes  # this presents the datatypes of the values present in all the columns

HostCity                          object
Year                               int64
No. Of Participating Countries     int64
dtype: object

In [53]:
olympic_df.axes # this presents the indices of both the rows and columns

[RangeIndex(start=0, stop=6, step=1),
 Index(['HostCity', 'Year', 'No. Of Participating Countries'], dtype='object')]

In [54]:
olympic_df.shape # this presents the number of rows and columns as a tuple value

(6, 3)

In [55]:
olympic_df.size # this presents the total number of elements present in the dataframe

18

In [56]:
olympic_df.ndim # this presents the number of dimensions of the dataframe

2